body {
    background-color: #000;
    color: white;  
}
.title-banner {
    position: relative;
    background: url(image1.jpg) center no-repeat;
    height: 150px;
    box-shadow: 0 5px 5px rgba(183,183,183,.5);
}
.title-nav {
    height: 70px;
    h1 {
        margin: 0;
        padding: 0;
        width: 40%;
        text-shadow: -5px 5px 5px rgba(183,183,183,.5);
    }   
    ul {
        align-content: center;
        list-style: none;
        margin-top: -25px;
        padding: 9px;
        float:right;
        clear: both;
    }
    li {
        float: left;
        box-sizing: border-box;
        display: block;
    }
    a {
        color: white;
        text-decoration: none;
        padding: 20px;
        margin-top: 150px;
        border: 2px solid white;
        border-left: none;
        border-bottom: none;
        border-top: none;
        box-shadow: -5px 5px 5px rgba(183,183,183,.5);
    }
}
.title-nav li:nth-child(3) a {
    background-color: #FFF;
    color: #000;
}

.container {
    width: 98.2%;
    height: 800px;
    padding-right: 10px;
    padding-left: 10px;
    .content-alpha {
        background-color: rgb(183, 183, 183);
        float: left;
        height: 95.5%;
        width: 11%;
        transform: translateY(20px);
        padding: 5px;
        border-radius: 10px;
        box-shadow: 8px 5px 5px rgba(183,183,183,.5);
        h3 {
            border: 3px solid white;
            border-top: none;
            border-right: none;
            border-left: none;
        }
        .manga-nav {
            text-align: left;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            a {
                color: black;
            }
        }
    }
    .center-content {
        float: left;
        height: 100%;
        width: 72.2%;
        transform: translateX(2.7%) translateY(20px);
        h2 {
            text-align: center;
            padding-top: 0;
            margin-top: 0;
        }
        h3 {
            text-align: center;
            border: 3px solid white;
            border-top: none;
            border-right: none;
            border-left: none;
        }
        .manga-content {
            height: 90%;
            overflow: auto;
            a {
                color: #000;
            }
        }
        .section {
            background-color: rgb(183, 183, 183);
            height: 100px;
        }
    }
    .content-beta {
        background-color: rgb(183, 183, 183);
        float: right;
        height: 97%;
        width: 12%;
        transform: translateY(20px);
        border-radius: 10px;
        box-shadow: -8px 5px 5px rgba(183,183,183,.5);
    }
}
@import 'clearfix';